venv
*.py[cdo]
.vscode/
src/client/*.bat
src/client/*.sh
src/client/*/
!src/client/ybplugins/
!src/client/yybplugins/
!src/client/public/
!src/client/packedfiles/
src/client/.*
src/client/*.json
!src/client/default_*
src/client/*.csv
src/client/*.db
src/client/*.db-*
src/client/*.ics
src/client/*.pid
src/client/test.py
.env
cqhttp
.idea/
.DS_Store
