<!DOCTYPE html>

<head>
    <title>yobot公会管理</title>
    <meta name='viewport' content='width=380' charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/element-ui@2.13.0/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.13.0/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <el-page-header @back="location='..'" content="yobot公会管理"></el-page-header>
        <el-table :data="groupData" style="width: 100%" stripe>
            <el-table-column prop="group_id" label="群号" width="100" sortable></el-table-column>
            <el-table-column prop="group_name" label="群名称" width="150" sortable></el-table-column>
            <el-table-column prop="game_server" label="游戏区" width="100" sortable></el-table-column>
            <el-table-column label="详情页" width="30">
                <template slot-scope="scope">
                    <a :href="'../../clan/' + scope.row.group_id + '/'"><i class="el-icon-more-outline"></i></a>
                </template>
            </el-table-column>
            <el-table-column label="删除" width="30">
                <template slot-scope="scope">
                    <el-button type="text" @click="delete_group(scope)" icon="el-icon-delete"></el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</body>
<script>
    var api_path = "{{ url_for('yobot_groups_api') }}";
    var csrf_token = "{{ session['csrf_token'] }}";
</script>
<script src="{{ url_for('yobot_static', filename='admin/groups.js') }}"></script>

</html>