<!DOCTYPE html>

<head>
    <title>公会战预约</title>
    <meta name='viewport' content='width=480' charset="utf-8" />
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/index.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>
        .el-badge {
            margin-top: 8px;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-page-header @back="location='../'" :content="group_name + ' - 公会战预约'"></el-page-header>
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1">面板</el-menu-item>
            <el-menu-item index="2">预约</el-menu-item>
            <el-menu-item index="3">查刀</el-menu-item>
            <el-menu-item index="4">统计</el-menu-item>
            <el-menu-item index="5">我的</el-menu-item>
        </el-menu>
        <h1 style="text-align:center">预约名单</h1>
        <el-tabs type="border-card">
            <el-tab-pane v-for="bn in 6">
                <span slot="label">
                    <el-badge :value="subscribers[bn-1].length" :hidden="subscribers[bn-1].length == 0">[[ bosstag[bn-1] ]]</el-badge>
                </span>
                <p v-for="m in subscribers[bn-1]">
                    [[ find_name(m.qqid) ]]（[[ m.qqid ]]）
                    <template v-if="m.message">
                        ：[[ m.message ]]
                    </template>
                </p>
                <p v-if="subscribers[bn-1].length == 0">
                    没有记录
                </p>
            </el-tab-pane>
        </el-tabs>
    </div>
    <footer style="text-align: center">
        powered by <a href="https://github.com/pcrbot/yobot">yobot</a>
    </footer>
</body>
<script>var csrf_token = "{{ session['csrf_token'] }}";</script>
<script src="{{ url_for('yobot_static', filename='clan/subscribers.js') }}"></script>

</html>