<!DOCTYPE html>

<head>
  <title>出刀记录</title>
  <meta name='viewport' content='width=1100' charset="utf-8" />
  <script src="//cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
  <script src="//cdn.staticfile.org/axios/0.19.2/axios.min.js"></script>
  <script src="//cdn.staticfile.org/element-ui/2.13.0/index.js"></script>
  <link rel="stylesheet" href="//cdn.staticfile.org/element-ui/2.13.0/theme-chalk/index.css">
  <style>
    .el-table td,
    .el-table th {
      text-align: center;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-page-header @back="location='..'" content="出刀记录"></el-page-header>
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleTitleSelect">
      <el-menu-item index="1">面板</el-menu-item>
      <el-menu-item index="2">预约</el-menu-item>
      <el-menu-item index="3">查刀</el-menu-item>
      <el-menu-item index="4">统计</el-menu-item>
      <el-menu-item index="5">我的</el-menu-item>
    </el-menu>
    <h1 style="text-align:center">[[ nickname ]]的出刀记录</h1>
    <template v-if="challengeData.length > 0">
      <el-table :data="challengeData" :span-method="arraySpanMethod" style="width: 1100" stripe>
        <el-table-column prop="pcrdate" label="日期" width="100" sortable></el-table-column>
        <el-table-column prop="finished" label="已完成" width="100" sortable></el-table-column>
        <el-table-column label="第一刀">
          <el-table-column label="尾刀" width="150">
            <template v-if="scope.row.detail[0]" slot-scope="scope">
              [[ csummary(scope.row.detail[0]) ]]
              <el-popover placement="top" effect="light" trigger="hover">
                <p v-html="cdetail(scope.row.detail[0])"></p>
                <i class="el-icon-info" slot="reference"></i>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column label="剩余刀" width="150">
            <template v-if="scope.row.detail[1]" slot-scope="scope">
              [[ csummary(scope.row.detail[1]) ]]
              <el-popover placement="top" effect="light" trigger="hover">
                <p v-html="cdetail(scope.row.detail[1])"></p>
                <i class="el-icon-info" slot="reference"></i>
              </el-popover>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="第二刀">
          <el-table-column label="尾刀" width="150">
            <template v-if="scope.row.detail[2]" slot-scope="scope">
              [[ csummary(scope.row.detail[2]) ]]
              <el-popover placement="top" effect="light" trigger="hover">
                <p v-html="cdetail(scope.row.detail[2])"></p>
                <i class="el-icon-info" slot="reference"></i>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column label="剩余刀" width="150">
            <template v-if="scope.row.detail[3]" slot-scope="scope">
              [[ csummary(scope.row.detail[3]) ]]
              <el-popover placement="top" effect="light" trigger="hover">
                <p v-html="cdetail(scope.row.detail[3])"></p>
                <i class="el-icon-info" slot="reference"></i>
              </el-popover>
            </template>
          </el-table-column>
        </el-table-column>
        <el-table-column label="第三刀">
          <el-table-column label="尾刀" width="150">
            <template v-if="scope.row.detail[4]" slot-scope="scope">
              [[ csummary(scope.row.detail[4]) ]]
              <el-popover placement="top" effect="light" trigger="hover">
                <p v-html="cdetail(scope.row.detail[4])"></p>
                <i class="el-icon-info" slot="reference"></i>
              </el-popover>
            </template>
          </el-table-column>
          <el-table-column label="剩余刀" width="150">
            <template v-if="scope.row.detail[5]" slot-scope="scope">
              [[ csummary(scope.row.detail[5]) ]]
              <el-popover placement="top" effect="light" trigger="hover">
                <p v-html="cdetail(scope.row.detail[5])"></p>
                <i class="el-icon-info" slot="reference"></i>
              </el-popover>
            </template>
          </el-table-column>
        </el-table-column>
      </el-table>
      <el-button @click="viewInExcel" size="mini">在Excel中查看（测试功能）</el-button>
    </template>
    <template v-else>
      没有记录
    </template>
    <p><a href="{{ url_for('yobot_user_info', qqid=qqid) }}">查看用户：[[ nickname ]]</a></p>
  </div>
</body>
<script>var csrf_token = "{{ session['csrf_token'] }}";</script>
<script src="{{ url_for('yobot_static', filename='clan/user.js') }}"></script>

</html>