<!DOCTYPE html>

<head>
  <title>关于yobot</title>
  <script async defer src="//cdn.jsdelivr.net/npm/github-buttons@2.7.0/dist/buttons.min.js"></script>
</head>

<body>
  <p>
    <a onclick="history.go(-1)">返回</a>
  </p>
  <h1>
    关于yobot
  </h1>
  <p>
    版本：<br />
    {{ verinfo | replace("\n", "<br />")  }}
  </p>
  <p>
    主页：<a href="https://yobot.win/" target="_blank">https://yobot.win/</a>
  </p>
  <p>
    源码：<a class="github-button" href="https://github.com/pcrbot/yobot" data-size="large" data-show-count="true" aria-label="Star pcrbot/yobot on GitHub">yobot</a>
  </p>
  <p>
    联系邮箱：<a href="mailto:yobot@pcrbot.com">yobot@pcrbot.com</a>
  </p>
  <p>
    交流群：<br>1群：770947581<br>2群：1044314369<br>4群：1067699252<br>5群：774394459 
  </p>
  <h2>
    其他
  </h2>
  <p>
    本项目没有开启赞助、打赏的渠道，所有付款行为与本项目无关。<br>
    如果你付费获取了本工具，可能是第三方收取的服务器费用和托管费用。
  </p>
</body>