<!DOCTYPE html>

<head>
    <title>功能表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" Content="机器人功能指令说明">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }

        .footnote {
            color: red;
        }
    </style>
</head>

<body class="markdown-body">
    <h1>功能列表</h1>
    <p>此页指令不需要at机器人</p>
    <p>(权)标记表示功能需要权限 </p>
    <p>(自动)标记表示无需触发词，机器人主动推送 </p>
    <p>方括号表示参数可以省略</p>
    <h2>系统类</h2>
    <table>
        <thead>
            <tr>
                <th>关键词</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>登录</td>
                <td>登录进入Web模式</td>
            </tr>
            <tr>
                <td>重置密码</td>
                <td>随机生成一个新密码（不发链接）</td>
            </tr>
            <tr>
                <td>更新</td>
                <td>(权)更新机器人</td>
            </tr>
            <tr>
                <td>重启</td>
                <td>(权)重新启动机器人</td>
            </tr>
            <tr>
                <td>退出此群</td>
                <td>(权:管理员)命令机器人退出当前群聊<sup class="footnote">1</sup></td>
            </tr>
            <tr>
                <td>version</td>
                <td>查看机器人版本</td>
            </tr>
            <tr>
                <td>帮助</td>
                <td>查看帮助</td>
            </tr>
        </tbody>
    </table>
    <p>
        <sup class="footnote">1</sup>当管理员希望机器人离开群聊时，应该使用此条命令而不是直接踢出群聊，避免增加封号风险
    </p>
    <h2>公会战类</h2>
    <p>注：本类功能仅限群聊</p>
    <p>公会战功能使用方法请查看<a href="../manual/">手册</a></p>
    <table>
        <thead>
            <tr>
                <th>关键词</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>手册</td>
                <td>查看公会战使用手册</td>
            </tr>
            <tr>
                <td>面板</td>
                <td>进入公会战面板</td>
            </tr>
            <tr>
                <td>创建日服公会</td>
                <td>日/韩/台/国，创建后可在后台修改</td>
            </tr>
            <tr>
                <td>加入公会 [@某人]</td>
                <td>加入到公会名单，如果有at则为加入他人</td>
            </tr>
            <tr>
                <td>加入全部成员</td>
                <td></td>
            </tr>
            <tr>
                <td>报刀2000000 [@某人] [昨日] [：留言]</td>
                <td>
                    对boss造成伤害但未击败时用，记录伤害，可以使用 200w/200万/2000k 等（一般公会精确到万即可）<br>
                    如果有at则为代报，有冒号则为留言<br>
                    如果有“昨日”则将记录添加到前一天<sup class="footnote">1</sup>
                </td>
            </tr>
            <tr>
                <td>尾刀 [@某人] [昨日] [：留言]</td>
                <td>
                    对boss造成伤害并击败时用，记录伤害<br>
                    如果有at则为代报，有冒号则为留言<br>
                    如果有“昨日”则将记录添加到前一天<sup class="footnote">1</sup>
                </td>
            </tr>
            <tr>
                <td>SL [@某人] [？]</td>
                <td>挑战boss强制取消后用，记录本日SL<sup class="footnote">2</sup>，用“？”查询今日是否已 SL，如果有at则为代报/代查</td>
            </tr>
            <tr>
                <td>撤销</td>
                <td>撤销上一次报刀（非管理员只能撤销自己的记录）</td>
            </tr>
            <tr>
                <td>状态</td>
                <td>显示boss状态</td>
            </tr>
            <tr>
                <td>预约1 [：留言]</td>
                <td>预约boss，当boss出现时通知，有冒号则为留言</td>
            </tr>
            <tr>
                <td>挂树 [：留言]</td>
                <td>挂树，当boss被击败时通知</td>
            </tr>
            <tr>
                <td>查1 / 查树</td>
                <td>查询预约boss的成员，查询挂树的成员</td>
            </tr>
            <tr>
                <td>取消预约1 / 取消1</td>
                <td>取消预约</td>
            </tr>
            <tr>
                <td>申请出刀</td>
                <td>锁定boss，提醒后面申请出刀的人有人正在挑战boss</td>
            </tr>
            <tr>
                <td>锁定:留言</td>
                <td>锁定boss，提醒后面申请出刀的人，冒号后为留言</td>
            </tr>
            <tr>
                <td>解锁</td>
                <td>解锁boss，其他人可以继续申请<sup class="footnote">3</sup></td>
            </tr>
        </tbody>
    </table>
    <p>
        <sup class="footnote">1</sup>此功能是在日期变更后，将出刀记录添加到前一天。例如日服中03:59完成出刀，在04:01时向机器人报刀则需要加上[昨日]<br>
        <sup class="footnote">2</sup>在公会战面板的“查刀”页中，可以查看所有人今日是否已使用SL<br>
        <sup class="footnote">3</sup>此功能既可以用于主动结束锁定，也可以用户强制取消他人的解锁。本人或管理员可以随意解锁，3分钟后“出刀”可以被任何人解锁，“锁定”没有时间限制
    </p>
    <h2>查询类</h2>
    <table>
        <thead>
            <tr>
                <th>关键词</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>jjc查询 +5个角色名空格分隔</td>
                <td>查找jjc解法，指定区服可改用“jjc国服/jjc台服/jjc日服”</td>
            </tr>
            <tr>
                <td>(自动：新闻推送)</td>
                <td>推送最新的新闻</td>
            </tr>
            <tr>
                <td>日程(今日/明日/x月x日)(可自动)</td>
                <td>查看活动日程</td>
            </tr>
            <tr>
                <td>日程表</td>
                <td>查看一周日程</td>
            </tr>
            <tr>
                <td>挖矿计算 +当前名次</td>
                <td>计算剩余可获得的奖励钻石</td>
            </tr>
        </tbody>
    </table>
    <h2>娱乐类</h2>
    <table>
        <thead>
            <tr>
                <th>关键词</th>
                <th>说明</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>十连</td>
                <td></td>
            </tr>
            <tr>
                <td>仓库[@某人[@某人[…]]]</td>
                <td>查看抽到过的所有角色查看他人抽到过的角色</td>
            </tr>
            <tr>
                <td>在线十连</td>
                <td>在线抽卡，不扰民</td>
            </tr>
            <tr>
                <td>人偶</td>
                <td>(权:主人)人偶功能</td>
            </tr>
        </tbody>
    </table>
</body>

</html>