<!DOCTYPE html>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1' charset="utf-8" />
    <title>yobot</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/index.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>footer{position: absolute;bottom: 0;left: 50%;transform: translate(-50%, -50%);}</style>
</head>

<body>
    <h1>yobot homepage</h1>
    <p>yobot is running</p>
    <h2>version:</h2>
    <p>{{ verinfo | replace("\n", "<br>")  }}</p>
    <div id="app">
        <a href="{{ url_for('yobot_login') }}"><el-button type="primary">登录</el-button></a>
    </div>
    <p><a href="{{ url_for('yobot_about') }}">关于</a></p>
    <footer>
        {% if show_icp -%}
        <a target="_blank" href="http://beian.miit.gov.cn/">{{ icp_info }}</a>
        &nbsp;
        {% if gongan_info -%}
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo"> 
            <img src="{{ url_for('yobot_static', filename='gongan.png') }}">
            {{ gongan_info }}
        </a>
        &nbsp;
        {% endif -%}
        {% endif -%}
        powered by <a href="https://github.com/pcrbot/yobot">yobot</a>
    </footer>
</body>
<script>
    new Vue().$mount('#app');
</script>

</html>