<!DOCTYPE html>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1' charset="utf-8"/>
    <title>yobot登录</title>
    <script src="//cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
    <script src="//cdn.staticfile.org/element-ui/2.13.0/index.js"></script>
    <link rel="stylesheet" href="//cdn.staticfile.org/element-ui/2.13.0/theme-chalk/index.css">
    <style>
        #app {
            margin: auto;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            max-width: 400px;
        }
    </style>
</head>

<body>
<div id="app" class="container">
    <div class="container">
        <h1>登录</h1>

    {% if reason -%}
    <el-alert
            title="{{ reason }}"
            type="error">
    </el-alert>
    {% endif -%}
    {% if advice -%}
    <el-alert
            title="{{ advice }}"
            type="info">
    </el-alert>
    {% endif -%}

    <div style="margin: 20px;"></div>

    <el-form ref="form" :model="form" :rules="rules" label-width="80px" >
        <el-form-item label="QQ号" prop="qq">
            <el-input v-model="form.qq" placeholder="请输入登录QQ号"></el-input>
        </el-form-item>
        <el-form-item label="验证码" prop="key">
            <el-input v-model="form.key" placeholder="请输入获取的验证码"></el-input>
            <p style="color: #aaa; margin: 0;">* 您可以通过私聊机器人"{{ prefix }}验证码"获取验证码</p>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit">登录</el-button>
        </el-form-item>
    </el-form>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            form: {
                qq: "",
                key: ""
            },
            rules: {
                qq: [
                    {required: true, message: '请输入您的QQ', trigger: 'blur'}
                ],
                key: [
                    {required: true, message: '请输入您的验证码', trigger: 'blur'}
                ],
            }
        },
        methods: {
            onSubmit: function () {
                this.$refs['form'].validate((valid) => {
                  if (valid) {
                    window.location.href = "{{ url_for('yobot_login') }}" + "?qqid=" + this.form.qq + "&key=" + this.form.key
                  } else {
                    console.log('请检查输入！');
                    return false;
                  }
                });
            }
        }
    })
</script>
</body>
</html>