<!DOCTYPE html>

<head>
    <title>使用手册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" Content="公会战功能使用手册">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css@3.0.1/github-markdown.css">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }

        .footnote {
            color: red;
        }
    </style>
</head>

<body class="markdown-body">
    <h1>公会战功能使用手册</h1>

    <p>使用 Bot 管理公会战，需要所有成员遵守使用规则<br />Bot 只是辅助作用，与成员多沟通才能提高分数</p>

    <p>具体指令请以查看<a href="../help/">帮助页面</a></p>

    <h2>开始前</h2>

    <ol>
        <li>机器人管理员进入后台设置，确认设置中的 boss 生命值符合当期公会战</li>
        <li>在群聊中发送<code>创建日服公会</code>（日、韩、台、国）</li>
        <li>所有公会战成员在群聊中发送<code>加入公会</code>，或者由群管理员发送<code>加入全部成员</code></li>
        <li>成员向 bot 私聊发送<code>登录</code>或<code>重置密码</code>，进入后台确认，同时修改登录密码</li>
        <li>成员进入公会战面板，并将网页地址保存到桌面快捷方式（手机、电脑均可），以便使用网页报刀和查看数据</li>
        <li>管理员在公会设置中，新建一个空白档案用来存放公会战数据</li>
    </ol>

    <h2>进行中：成员</h2>

    <ul>
        <li>成员准备挑战 boss 时，需要在群聊中发送<code>申请出刀</code>，当 bot 允许后开始挑战 boss</li>
        <li>如果挑战 boss 完毕，需要向 bot 上报挑战结果</li>
        <li>如果挑战 boss 不成功，需要向 bot 上报挂树情况或 SL 使用情况</li>
        <li>如果意外掉刀，需要上报一次 0 点伤害的挑战</li>
        <li>成员可以使用预约功能，在 boss 出现时获得 bot 的 at 提醒</li>
        <li>（可选择执行）如果希望进行合刀筛刀等多人出刀的操作，可以在群聊中发送<code>锁定：留言</code>，然后等待其他成员共同挑战 boss。等到所有挑战完毕后，按结算顺序向 bot 依次上报</li>
        <li>（可选择执行）上报伤害和预约 boss 时，通过留言功能帮助排刀人员制定计划</li>
    </ul>

    <h2>进行中：管理员</h2>

    <ul>
        <li>在“查刀”页面中，管理员可以选中当日未完成出刀的成员，一键发送提醒</li>
        <li>在“查刀”页面中，排刀人员可以一览所有成员的 SL 使用情况</li>
        <li>在“查刀”页面中，排刀人员可以一览所有成员未完成的尾刀</li>
    </ul>

    <h2>特殊情况</h2>

    <ul>
        <li>如果有人挑战了 boss 却没有上报，可以由他人代理上报</li>
        <li>如果前一个上报数据出错，可以由上报者或管理员发送<code>撤销</code>来撤销</li>
        <li>如果有人申请了挑战，但没有报伤害也没有报挂树或 SL，其他成员可以在 3 分钟后在群聊中发送<code>解锁</code>来强制解锁</li>
        <li>如果出刀时间在日期变更附近导致未及时上报，需要将伤害上报到前一天的记录中</li>
    </ul>

    <h2>查看数据</h2>

    <p>公会战面板“查刀”页面中能查看记录的所有数据，并进行快速的筛选、过滤。如果需要原始数据，可以从“统计”页面导出。</p>
</body>

</html>