<!DOCTYPE html>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1' charset="utf-8"/>
    <title>yobot登录</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/index.js"></script>
    <script src="{{ url_for('yobot_static', filename='password.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
    <style>
        #app {
            margin: auto;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            max-width: 400px;
        }
    </style>
</head>

<body>
<div id="app" class="container">
    <div class="container">
        <el-page-header @back="location='../'" content="修改密码"></el-page-header>
        {% if error -%}
        <el-alert
                title="{{ error }}"
                type="error">
        </el-alert>
        {% endif -%}
        {% if success -%}
        <el-alert
                title="{{ success }}"
                type="success">
        </el-alert>
        {% endif -%}
        </el-alert>

        <div style="margin: 20px;"></div>

        <el-form ref="form" :model="form" :rules="rules" label-width="80px">
            <el-form-item label="密码" prop="pwd">
                <el-input v-model="form.pwd" placeholder="这个密码不是QQ密码" type="password" @keyup.enter.native="onSubmit"></el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="again">
                <el-input v-model="form.again" placeholder="这个密码不是QQ密码" type="password" @keyup.enter.native="onSubmit"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">修改</el-button>
            </el-form-item>
        </el-form>
    </div>
</div>
<footer style="text-align: center">
    powered by <a href="https://github.com/pcrbot/yobot">yobot</a>
</footer>

<script>
    var Userid = "{{ session['yobot_user'] }}";
    new Vue({
        el: '#app',
        data() {
            let validatePassAgain = (rule, value, callback) => {
                if (value !== this.form.pwd) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                form: {
                    pwd: "",
                    again: "",
                },
                rules: {
                    pwd: [
                        {required: true, message: '必须输入您的密码', trigger: 'blur'},
                        {min: 8, max: 20, message: '长度在 8 到 20 个字符', trigger: 'blur'},
                    ],
                    again: [
                        {required: true, message: '请再次输入密码', trigger: 'blur'},
                        {validator: validatePassAgain, trigger: 'blur'},
                    ],
                }
            }
        },
        methods: {
            post: function (url, params) {
                //创建form表单
                const temp_form = document.createElement("form");
                temp_form.action = url;
                //如需打开新窗口，form的target属性要设置为'_blank'
                //temp_form.target = "_blank";
                temp_form.method = "post";
                temp_form.style.display = "none";
                //添加参数
                for (const key in params) {
                    const opt = document.createElement("textarea");
                    opt.name = key;
                    opt.value = params[key];
                    temp_form.appendChild(opt);
                }
                document.body.appendChild(temp_form);
                //提交数据
                temp_form.submit();
            },
            onSubmit: function () {
                this.$refs['form'].validate((valid) => {
                    if (valid) {
                        const url = "{{ url_for('yobot_reset_pwd') }}";
                        this.post(url, {
                            pwd: getHashWithSalt(this.form.pwd + Userid)
                        });
                    } else {
                        console.log('请检查输入！');
                        return false;
                    }
                });
            }
        }
    })
</script>
</body>
</html>