<!DOCTYPE html>

<head>
    <meta name='viewport' content='width=device-width, initial-scale=1' charset="utf-8" />
    <title>yobot用户面板</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/index.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/theme-chalk/index.css">
</head>

<body>
    <h1>yobot用户面板</h1>
    <div id="app">
        <p>欢迎{{ user.nickname }}</p>
        <div>上次登录：[[ from_ts({{ session.get('last_login_time') }}) ]] at {{ session.get('last_login_ipaddr') }}（[[ addr.join('') ]]）
        </div>
        {% if user.authority_group < 10 -%}
        <el-row>
            <a href="{{ url_for('yobot_setting') }}">
                <el-button type="primary">设置</el-button>
            </a>
            <a href="{{ url_for('yobot_users_managing') }}">
                <el-button type="primary">用户管理</el-button>
            </a>
            <a href="{{ url_for('yobot_groups_managing') }}">
                <el-button type="primary">群管理</el-button>
            </a>
        </el-row>
        <br />
        {%- endif %}
        <el-row>
            <a href="{{ url_for('yobot_user_info', qqid=user.qqid) }}">
                <el-button type="primary">个人中心</el-button>
            </a>
            <a href="{{ url_for('yobot_reset_pwd') }}">
                <el-button type="primary">修改密码</el-button>
            </a>
            <a href="{{ url_for('yobot_logout') }}">
                <el-button type="primary">登出</el-button>
            </a>
        </el-row>
        <el-row>
            {% if not clan_groups -%}
            <el-tooltip effect="dark" placement="bottom">
                <div slot="content">你还没有选择默认公会<br />请在你的公会群里发送“加入公会”来设置默认公会</div>
                <el-button type="primary" disabled>无公会</el-button>
            </el-tooltip>
            {%- else -%}
            {% for group in clan_groups -%}
            <a href="{{ url_for('yobot_clan', group_id=group['group_id']) }}">
                <el-button type="primary">公会：{{ group['group_name'] }}</el-button>
            </a>
            {% endfor -%}
            {%- endif %}
        </el-row>
    </div>
    <p><a href="{{ url_for('yobot_about') }}">关于yobot</a></p>
    <footer style="position: absolute;bottom: 0;left: 50%;transform: translate(-50%, -50%);">
        powered by <a href="https://github.com/pcrbot/yobot">yobot</a>
    </footer>
</body>
<script>
    if (!Object.defineProperty) {
        alert('浏览器版本过低');
    }
    new Vue({
        el: '#app',
        data: {
            addr: [],
        },
        mounted() {
            var thisvue = this;
            axios.get('{{ url_for("yobot_api_iplocation", ip=session["last_login_ipaddr"]) }}').then(function (res) {
                thisvue.addr = res.data;
            }).catch(function (error) {
                console.log(error);
                thisvue.addr = ['未知'];
            });
        },
        methods: {
            from_ts: function (ts) {
                if (ts == 0) {
                    return '-';
                }
                var nd = new Date();
                nd.setTime(ts * 1000);
                return nd.toLocaleString('chinese', { hour12: false });
            },
        },
        delimiters: ['[[', ']]'],
    })
</script>

</html>