APScheduler~=3.6.3
requests~=2.22.0
aiohttp>=3.6.1
opencc-python-reimplemented~=0.1.5
feedparser~=5.2.1
beautifulsoup4~=4.8.1
pillow~=6.2.1
arrow
peewee~=3.13.1
expiringdict~=1.2.0
aiocqhttp~=0.6.8
quart~=0.6.15
jinja2~=2.10.3
