APScheduler~=3.6
requests~=2.22
aiohttp>=3.6.1
opencc-python-reimplemented~=0.1.5
feedparser~=6.0
beautifulsoup4~=4.8
arrow~=0.14
peewee~=3.13
expiringdict>=1.2.0
aiocqhttp~=0.6
quart~=0.6.15
jinja2~=2.10
